<nav class="purple lighten-3">
    <div class="container">
        <div class="nav-wrapper ">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contack</a></li>
                <li><a href="/datos">Datos</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/datos">Datos</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>