<!DOCTYPE html>

<% include partials/head %>


<body>
    <% include partials/header %>
  
        <div class="container center-align">
                <div class="container">
                    <h2>hola mundillo <%=title%><h2>
        
                        
                        <i class="fas fa-camera animated fadeInLeft" style="font-size: 6em; color: Tomato;"></i>
                </div>
          
                <a href="/datos" class="waves-effect waves-light btn-large" style="font-size:2.5em">START</a>
        </div>
       
            
</body>
<% include partials/foot %>

</html>
